/* HOJA DE ESTILO DE LA PRESENTACIÓN DE HALLOWEEN */
/* CURSO 2020/21 */

@font-face {
    font-family: halloween1;
    src: url('../tipografias/PrimalDream.otf');
}
body {background-color: black;}
#container {position:relative; /* EL CONTENEDOR, RELATIVO */
            background-image:url('../imagenes/fondo.png');
            margin:auto;
            width:1503px; /* NO ES RESPONSIVE, OJO */
            height:845px; /* solo es un ejercicio por diversión */
            }
#titulo {position:absolute; /* EL CONTENIDO, ABSOLUTO */
         top:2px;
         left:1170px;
         font-family:halloween1;
         font-size: 3em;
         color:rgb(46, 23, 26);
         text-shadow:1px 1px 1px black;
}

#velagrande {position: absolute;
       top:243px;
       left:1302px;
       animation-iteration-count: infinite;
}

#velapequeña {position: absolute;
       top:322px;
       left:431px;
       animation-iteration-count: infinite;
}

#espejoanimacion {position: absolute;
       top:1px;
       left:50px;
       visibility:hidden;
       animation-iteration-count: infinite;}

#espejo {position:absolute;
           top:20px;
           left:65px;
           width:200px;
           height:450px;
           /*border:1px solid rgb(112, 16, 16);*/
       }
#cuadro {position:absolute;
       top:50px;
       left:430px;
       width:190px;
       height:270px;
       cursor: url('../imagenes/cursor.cur'), auto;
       /*border:2px solid rgb(134, 23, 23);*/         
}
#cuadroover {position:absolute;      
         visibility:hidden;
         left:-1px;
}

#cuadroanimacion {position: absolute;
       top:42px;
       left:426px;
       animation-iteration-count: infinite;
}

#cuadrodialogo{ position: absolute;
       top:110px;
       left:670px;
       font-size:1.2em;
       color: rgb(68, 26, 40);
       background-color:#d8c1a6;
       padding:15px;
       border: 3px solid rgb(46, 23, 26);
       font-family: cursive;
       visibility: hidden;
}

#calavera { position:absolute;
       top:320px;
       left:1020px;
       width:55px;
       height:60px;
       cursor: url('../imagenes/cursor.cur'), auto;
       /*border:2px solid rgb(134, 23, 23)*/;
}
#calaveraover { position:absolute;      
       visibility:hidden;
}

#calaveradialogo{ position: absolute;
       top:360px;
       left:670px;
       font-size:1.2em;
       color: rgb(68, 26, 40);
       background-color:#d8c1a6;
       padding:15px;
       border: 3px solid rgb(46, 23, 26);
       font-family: cursive;
       visibility: hidden;
}

#pentagrama { position:absolute;
       top:730px;
       left:90px;
       width:335px;
       height:90px;
       cursor: url('../imagenes/cursor.cur'), auto;
       /*border:2px solid rgb(134, 23, 23)*/;
}
#pentagramaover { position:absolute;      
       visibility:hidden;
}

#pentagramadialogo{ position: absolute;
       top:610px;
       left:370px;
       font-size:1.2em;
       color: rgb(68, 26, 40);
       background-color:#d8c1a6;
       padding:15px;
       border: 3px solid rgb(46, 23, 26);
       font-family: cursive;
       visibility: hidden;
}
#llave {position: absolute;
       top:720px;
       left:1430px;
       visibility: hidden;
       border: 1px solid black;
}
